{% extends 'base.html.twig' %}

{% block title %}{{article.getLibelle()}} - PECHE!{% endblock %}

{% block content %}
<div class="row article-container">
    <div class="col-md-5"><img class="img-fluid" src="/uploads/{{article.getUploadImage}}" alt="{{article.getLibelle()}}"> </div>
    <div class="col-md-7 my-auto">
    <h3>{{article.getLibelle()}} </h3>
    <p>{{article.getMarque()}}</p>
        <span class="article-page-price">{{(article.getPrice()/100)|number_format(2, ',', '.')}} € </span>
        <hr>
    <p>{{article.getCategorie()}}</p>
        <a href="{{ path('add_to_cart',{'id':article.id}) }}" class="btn btn-primary">Add to Cart</a>
    </div>
</div>


 
{% endblock %}
