{% extends 'base.html.twig' %}

{% block title %}Edit Article - PECHE{% endblock %}

{% block content %}
<div class="address-container">

<h1>Edit Article</h1>
    <a href="{{ path('article') }}">Retour</a>
    <hr>
    {{ form_start(form) }}
    <div class="row">
<div class="col-md-12">{{ form_row(form.libelle) }}</div>
<div class="col-md-6">{{ form_row(form.isDisponible) }}</div>
<div class="col-md-6">{{ form_row(form.price) }}</div>
<div class="col-md-6">{{ form_row(form.marque) }}</div>
<div class="col-md-6">{{ form_row(form.categorie) }}</div>
<div class="col-md-6">{{ form_row(form.image) }}</div>
    <button class="btn btn-lg btn-info btn-block mt-3" type="submit">
        Edit
    </button>
  


    </div>
    {{ form_end(form) }} 
</div>
{% endblock %}
